<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : rplidar
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_library.urdf.xacro" />
	<xacro:include filename="$(find turtlebot_le2i)/urdf/rplidar.urdf.xacro"/>
	
	<kobuki/>
	<stack_hexagons parent="base_link"/>
	<sensor_kinect parent="base_link"/>
	<sensor_rplidar parent="plate_top_link"/>
</robot>
