<launch>
	<!-- Launch minimal.launch -->
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
	
	<!-- Create environment variable for rplidar with "rplidar" default value -->
	<arg name="base" default="$(optenv TURTLEBOT_BASE kobuki)"/>
	<arg name="stacks" default="$(optenv TURTLEBOT_STACKS hexagons)"/>
	<arg name="rplidar_sensor" default="$(optenv TURTLEBOT_LASER_SENSOR rplidar)"/>
	
	<!-- Set environment variable for rplidar -->
	<include file="$(find turtlebot_le2i)/launch/includes/robot.launch.xml">
		<arg name="base" value="$(arg base)" />
		<arg name="stacks" value="$(arg stacks)" />
		<arg name="rplidar_sensor" value="$(arg rplidar_sensor)"/>
	</include>
	
	<!-- Launch rplidar -->
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
	
</launch>
